.wrapper {
  position: relative;
  padding-top: 100px;
  flex: 1 1 auto;
  background-color: var(--hero-background);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 50px;
}

.avatar img {
  width: 100%;
}

.greetings {
  margin-bottom: 50px;
  font-weight: bold;
}

.me {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.animation {
  font-size: 50px;
  font-weight: bold;
  max-width: 800px;
  color: var(--text-header);
}

.description {
  font-weight: bold;
}

.text h1,
.greetings,
.description {
  color: var(--text-header);
}

@media screen and (max-width: 768px) {
  .me {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0;
  }

  .avatar {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    margin-right: 0;
    margin-bottom: 20px;
  }

  .greetings {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 24px;
  }

  .text {
    display: none;
  }

  .description {
    text-align: center;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
