.wrapper {
  background: var(--main-gray-light);
  height: 60px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
}

.anchor {
  text-decoration: none;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.anchor, 
.content label {
  color: var(--text-gray-light);
}

.first {
  padding-top: 1px;
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}

.mobileHeader {
  position: absolute;
  top: 25px;
  right: 50px;
}

@media screen and (max-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 5;
    background-color: var(--main-gray-light);
    overflow: hidden;
    transition: all .3s ease;
  }

  .navigation.active {
    width: 100%;
    height: 100vh;
  }

  .item:not(:last-child) {
    margin-right: 0;
  }

  .list {
    flex-direction: column;
  }

  .content {
    position: static;
  }

  .anchor {
    font-size: 24px;
  }

  .item:not(:last-child) {
    margin-bottom: 10px;
  }

  .first {
    position: static;
  }
}